set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io RXD B10
set_io TXD B12
set_io clk J3
set_io MOSI P1
set_io MISO P2
set_io SCK R1
set_io SPI_CS0 N2
set_io PORTB0 M1
set_io PORTB1 M2
set_io PORTB2 L1
set_io PORTB3 L3
set_io PORTB4 K1
set_io PORTB5 K3
set_io PORTB6 J1
set_io PORTB7 J2
