set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io RXD B10
set_io TXD B12
# For use with breakout board, connect 11.2896MHz oscillator to L3
# set_io clk J3
set_io clk L3
set_io PORTB0 R2
set_io PORTB1 R1
set_io PORTB2 P1
set_io PORTB3 P2
set_io PORTB4 N3
set_io PORTB5 N2
set_io PORTB6 M2
set_io PORTB7 M1
set_io CDCLK  R16