set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io RXD B10
set_io TXD B12
# For use with breakout board, connect 11.2896MHz oscillator to L3
# set_io clk J3
set_io clk L3
set_io PORTB0 B2
set_io PORTB1 R1
set_io PORTB2 P1
set_io PORTB3 P2
set_io PORTB4 N3
set_io PORTB5 N2
set_io PORTB6 M2
set_io PORTB7 M1
set_io CDCLK  B1
set_io SCK    C1
set_io SDAT   D1
set_io LRCK   D2

set_io G_RST  R16
set_io D8     T15
set_io D7     T16
set_io D9     T13
set_io D6     T14
set_io D10    N12
set_io D5     P13
set_io D11    N10
set_io D4     M11
set_io D12    T11
set_io D3     P10
set_io D13    T10
set_io D2     R10
set_io D14    P8
set_io D1     P9
set_io D15    T8
set_io D0     T9
set_io DMARQ  T7
set_io WRn    R6
set_io RDn    T6
set_io IORDY  R5
set_io DMACKn T5
set_io INTRQ  R4
set_io CS0n   R2
set_io CS1n   T1
set_io A0     R3
set_io A1     T3
set_io A2     T2

set_frequency clkout 79.0272
set_frequency clkout_cpu 39.5136
